
@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

#font{
    font-family: "Montserrat Alternates","sans-serif";
    
}
.navber{
    width: 1600px;
    height: 78px;
    background-color: rgb(27, 27, 94);
    color: white;
}
.about-me{
    position: relative;
    left: 120px;
    top: 20px;
}
span{
    background: linear-gradient(to right, #ff05ff, #1bffb3);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}
.banner-img{
    width: 1600px;
    height: 760px;
    background-image: url("image/hero-bg.png");
}
img{
    width: 350px;
    height: 350px;
    position: relative;
    left: 39%;
    top: 50px;
}
.profile-about{
    color: white;
    text-align: center;
    width: 600px;
    height: 200px;
    padding: 20px 20px;
    border-radius: 80px;
    position: relative;
    top: 100px;
    left: 480px;
    background-color:rgba(46, 35, 112, 0.493);
    box-shadow: 5px 2px 2px rgb(255, 253, 253);
}
.name{
    margin-bottom: 0.2px;
    background: linear-gradient(to right, #fbff05, #85045e);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-weight: 900;
    
}
.about-title{
    
}
b{
    color: #fbff05;
}
.about-section{
     width: 1600px;
    height: 600px;
    background-color: rgb(27, 27, 94);
    padding-top: 50px;
    
}


.education-colore{
    color: gold;
    /* margin-bottom: 100px; */
    
}
.skil-colore{
     color: gold;
    margin-bottom: 100px;
    margin-right: 70px;
}
.education{
    color: white;
    background-color:rgba(46, 35, 112, 0.493);
    width: 600px;
    margin: 0px auto;
    padding-left: 150px;
    padding-bottom: 50px;
    border-radius: 30px;
    box-shadow: 0px 5px gold;

}
.skils{
    text-align: center;
    margin: 0px auto;
    margin-top: 120px;
    padding-left: 90px;
}
.skil{
    width: 200px;
    color: rgb(55, 255, 55);
    border: 1px solid gold;
    border-radius: 20px;
    text-align: center;
}
.skils-card{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    gap: 10px;
    padding-left: 200px;
}