
@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

#font{
    font-family: "Montserrat Alternates","sans-serif";
    
}
.navber{
    width: 1600px;
    height: 78px;
    background-color: rgb(27, 27, 94);
    color: white;
}
.about-me{
    position: relative;
    left: 120px;
    top: 20px;
}
span{
    background: linear-gradient(to right, #ff05ff, #1bffb3);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}